{% extends "blog/base.html" %}

{% block content %}
<a href="{% url 'logout' %}" id="id_nav_logout" class="nav-link">
        Logout
    </a>
<div class = "row">
    <div class="row" id="id_story_card">
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Story Title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices enim massa, a semper metus hendrerit non. Maecenas placerat tempor magna, nec lobortis diam malesuada in. Morbi quis ullamcorper urna. Vestibulum convallis mattis sem, sit amet tempus leo aliquet quis. Curabitur non dignissim lacus. 
                    Sed purus erat, euismod vitae viverra id, venenatis vitae nibh. Quisque lacinia a arcu id imperdiet. Nunc eget risus ut mauris auctor porta sit amet sit amet dui.
                    <br><br>
                    Mauris eget dui enim. Ut mollis magna est, quis lobortis libero auctor nec. Nam ut ipsum ut tortor viverra lobortis ac eu eros. Mauris hendrerit hendrerit blandit. Sed a dolor arcu. Sed scelerisque dolor id justo convallis, sit amet volutpat est feugiat. Praesent convallis, nisl sed maximus faucibus, tortor lectus pretium eros, ac pulvinar ligula odio quis nunc. Morbi sagittis quam at turpis imperdiet pellentesque. Proin suscipit egestas enim non aliquet. Vestibulum lacinia et lectus in facilisis. Sed vitae dapibus magna. In hac habitasse platea dictumst. Maecenas sit amet laoreet null
                </p>
                
            </div>
        </div>
    </div>
    <div class = "row" id="id_comments">
        <h5><span id="id_comment_header">Comments</span></h5>
        <br>
        <div class="comments">
            <b>User234 (35 minutes ago)</b>
            <br>
            Pellentesque sed ligula arcu. In porta viverra facilisis. Integer gravida ipsum a massa suscipit varius. Suspendisse rutrum lacus eu purus aliquam dignissim.
        </div>
        <div class="comments">
            <b>User325 (23 minutes ago)</b>
            <br>
            Mauris aliquet ac orci nec tristique. In velit ante, aliquam in mauris eu, pretium ornare enim. Suspendisse convallis nibh urna.    
        </div>


        <div class="poststream" id="id_poststream">
            {% for post in posts %}
                <div id="id_post_div_{{post.id}}" class="post-div">
                    <span id="id_username"><b>User{{user.id}}</b></span>
                    <br>
                    <span id="id_post_text_{{post.id}}" class="post-text">{{post.text}}</span>
                </div>
            {% endfor %}
        </div>


        <div class="row" id="id_value_comment_space" style="width: 80%; margin-top: 2%;">
            <div id="id_value_postbox">
               
                <form action="{% url 'page' %}" method="POST" class="card">
                    <label id="id_post_input_label" class="card-header"> 
                        
                    </label> 
                    <input type="text" id ="id_post_input_text" name="text" class="card-body" placeholder="Join the Discussion!" style="border: none;">
                    {% csrf_token %}
                    <div class="card-footer">
                        <button type="submit" id="id_post_button" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                
                
            </div>
        </div> 
    </div>
</div>





{% endblock %}